################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RabbitMQMicroservice/ProducerConsumerRabbitMQ/.vs/ProducerConsumerRabbitMQ/FileContentIndex
